.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px 150px;
  font: 400 14px/2 Poppins, sans-serif;
  color: #18181b;
}

.logo {
  width: 131px;
  height: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #18181b;
  margin: 3px 0;
  transition: 0.4s;
}

.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menuOptions {
  display: flex;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #18181b;
  font-weight: 500;
  justify-content: center;
}

.loginIcon {
  width: 14px;
  height: 14px;
}

.tryFreeButton {
  border-radius: 5px;
  background-color: #7261ff;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header {
    padding: 24px 20px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menuOptions {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  .menuOptions.closed {
    max-height: 0;
  }

  .menuOptions.open {
    max-height: 300px;
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .navItem,
  .loginButton,
  .tryFreeButton {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}
